.footer{
    width: 100%;
    min-height: 30vh; 
    background-color: rgb(0,45,87);
    color: #fff;
    .logo{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 100px;
            height: 100px;
        }
    }
}