.kunden {
    width: 100%;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 50px;
    background-color: #fff;

  .back-btn, .next-btn {
    cursor: pointer;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: rgb(0, 45, 87);
    padding: 5px;
  }

  .back-btn {
    left: 20px;
  }

  .next-btn {
    right: 20px;
  }

  .kunden-content {
    width: 100%;
    margin: 0 80px;

    h2 {
      font-size: 3em;
      margin-bottom: 50px;
      color:rgb(25,27,6);
    }

    .content {
      display: flex;
      gap: 50px;
      justify-content: space-between;
      align-items: stretch;
      flex-wrap: wrap;
      
    }
  }

  .card {
    background-color: #f3f3f3;
    border-radius: 10px;
    padding: 30px;
    max-width: 500px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 0.1s ease;

    &:hover {
      transform: translateY(-5px);
    }

    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      margin-bottom: 15px;   
    }

    h3 {
      margin: 10px 0;
      font-size: 1.5em;
      color: #003057;
    }

    p {
      font-size: 1em;
      color: #555;
      margin-bottom: 10px;
    }
  }
}