.kontakt{
    width: 100%;
    min-height: 70vh; 
    background-color: #fff; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 50px 200px;

  
  .kontakt-info {
    flex: 1;    
    
    span {
      display: flex;
      align-items: center;
      font-size: 1.2em;
      font-weight: 400;
      margin-bottom: 20px;
      color: rgb(126,159,20);
      
      img {
        margin-left: 10px;
        width: 20px;
        height: 20px;
      }
    }

    h2{
        font-size: 3em;
        color: rgb(25,27,6); 
        max-width: 50vw;
        margin: 0 auto;
        padding-bottom: 50px;
      }

    ul {
      list-style: none;   

      li {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        
        img {
          margin-right: 20px;
          width: 30px;                    
        }

        span {
          font-weight: semibold;
          color: rgb(0, 45, 87);
          align-items: center;
        }

        .phone{
            text-decoration: underline;
        }
        .title{
            font-weight: bold;
            
        }
      }
    }
  }

  .kontakt-form {
    flex: 1;

    form {
      display: flex;
      flex-direction: column;
      gap: 5px;

      label{
        font-size: 1.1em;
        font-weight: 400;        
      }
      
      input, textarea {
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 8px;
        border: 1px solid #717070;
        font-size: 1em;
        margin-top: 5px;
      }

      div{
        p
      }

      button {
        padding: 10px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
          background-color: #0056b3;
        }
      }
    }
  }
}
