.hero {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(0, 45, 87);
    position: relative; 
    overflow: hidden; 

    .hero-content {
        color: white; 
        position: relative; 
        z-index: 1; 
        padding: 20px; 
    }

    .group-image {
        position: absolute; 
        bottom: 0; // Position at the bottom
        right: 10; // Position at the right
        width: auto; // Maintain aspect ratio
        height: auto; // Maintain aspect ratio
        max-width: 60%; // You can adjust this as needed
        max-height: 60%; // You can adjust this as needed
    }
}
